body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.animation-text {
  color: blue; /* Set the text color to blue */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#train {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#startButton, #stopButton {
  margin-top: 10px;
}
